button:focus {
    outline:0;
  }
  table.table td {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  .card-header {
    width: 95%;
    margin: auto;
    margin-top: -25px;
    background: #303F9F;
    border-radius: 5px;
    color: white;
  }
  
  .header-text {
    font-weight: 400
  }
  .header-sub-text{
    font-weight: 300
  }
  .header-title {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  
