<div class="container">
  <form #addForm="ngForm" class="ml-5" id="addGpeDeRech" [formGroup]="addGpe" (ngSubmit)="addGroupeRech(addGpe.value)">
    <mat-form-field class="add-Auteur-field mr-5">
      <input matInput type="text" placeholder="dénomination" formControlName="denomination">
      <mat-error *ngIf="!addGpe.valid">
        Dénomination est
        <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="add-Auteur-field mr-5">
      <input matInput type="text" placeholder="abréviation" formControlName="abreviation">
      <mat-error *ngIf="!addGpe.valid">
        Abréviation est
        <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="add-Auteur-field mr-5">
      <input matInput type="text" placeholder="tel" formControlName="tel">
      <mat-error *ngIf="!addGpe.valid">
        tel est
        <strong>invalide</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="add-Auteur-field mr-5">
      <input matInput type="text" placeholder="fax" formControlName="fax">
      <mat-error *ngIf="!addGpe.valid">
        fax est
        <strong>invalide</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="add-Auteur-field mr-5">
      <input matInput type="text" placeholder="email" formControlName="email">
      <mat-error *ngIf="!addGpe.valid">
        email est
        <strong>invalide</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="add-Auteur-field mr-5">
      <input matInput type="text" placeholder="mots clé" formControlName="mots_cles">
      <mat-error *ngIf="!addGpe.valid">
        Mots clé est
        <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="add-Auteur-field mr-5">
      <mat-select placeholder="Responsable" formControlName="responsable">
        <mat-option *ngFor="let resp of responsables" [value]="resp.nom+' '+resp.prenom">
          {{resp.nom+" "+resp.prenom}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!addGpe.valid">
        Dénomination est
        <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="add-Auteur-field mr-5 w-75">
        <textarea matInput formControlName="objectif" placeholder="Objectif" mdTextareaAutosize rows="6"></textarea>
      <mat-error *ngIf="!addGpe.valid">
        Objectif est
        <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>

    <div class="action-buttons float-right mt-5 row">
      <mat-progress-spinner
        [color]="'warn'"
        [mode]="'indeterminate'"
        [diameter]="20"
        class="mr-4 mt-2"
        *ngIf="showSpinner">
      </mat-progress-spinner>
      <button mat-raised-button class="mr-5" color="primary" type="submit" form="addGpeDeRech" [disabled]="!addGpe.valid">
        Ajouter
      </button>
      <button mat-raised-button class="mr-5" color="warn" (click)="annuler($event)">
        Annuler
      </button>
      <button mat-raised-button (click)="$event.preventDefault();addForm.reset()">
        Réinitialiser
      </button>
    </div>
  </form>
</div>