<div class="container pt-5">
  <div class="jumbotron indigo darken-3">
    <p class="display-4 text-center font-weight-bold white-text">Administration du portail d'ATSSEE</p>
  </div>
  <div class="card">
    <div class="card-header z-depth-1">
      <h5 class="text-center">Connexion</h5>
    </div>
    <div class="card-body">

      <form class="auth-form" [formGroup]="authForm" (ngSubmit)="signIn(authForm.value)" id="authForm">

        <mat-form-field class="full-width">
          <input matInput placeholder="login" type="text" formControlName="login" [ngClass]="errorLogin">
          <mat-error *ngIf="!authForm.valid">
            login est
            <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width my-2">
          <input matInput placeholder="mot de passe" type="password" formControlName="password" [ngClass]="errorLogin">
          <mat-error *ngIf="!authForm.valid">
            mot de passe est
            <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" class="loginBtn" type="submit" form="authForm" [disabled]="!authForm.valid">Connexion</button>
        </div>
      </form>
    </div>
  </div>
  <!--Signature-->

  <div class="signature">
    <p class="text-center">
      &copy;2018 Najmedine Mannaii | email:
      <a href="mailto:najmedine.mannaii@ensit.u-tunis.tn">najmedine.mannaii@ensit.u-tunis.tn</a>
    </p>
  </div>
</div>