.card {
    width: 70%;
    margin: auto;
}
.card-header {
    width: 90%;
    margin: auto;
    margin-top: -20px;
    background: #283593;
    color: white;
    border-radius: 5px;
    h5 {
        font-weight: 400;
        font-size: 30px;
    }
}
.full-width {
    width: 60%;
    margin: auto;
    display: block;
}
.signature{
    margin-top: 20px;
    a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
    }  
}
.errorLogin {
    border-color: red;
}