<table class="table table-responsive-lg table-bordered table-sm"  *ngIf="!notFound">
    <thead>
      <tr>
        <th>#</th>
        <th>Dénomination</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actualite of actualites | paginate : {id: 'actualiteP',itemsPerPage: 6, currentPage: p,totalItems: total}">
        <td class="text">
          {{actualite.id}}
        </td>
        <td class="text">
          {{actualite.denomination}}
        </td>
        <td>
          <span class="button-row">
            
            <button mat-icon-button color="primary" matTooltip="Modifier" [matTooltipPosition]="'before'" matTooltipClass="tooltip-blue" (click)="sendEdit(actualite)">
              <mat-icon>edit</mat-icon>
            </button>
            
            <button mat-icon-button color="warn" matTooltip="Supprimer" [matTooltipPosition]="'after'" matTooltipClass="tooltip-red" (click)="delete(actualite.id)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <h1 class="h1-responsive text-center grey-text my-5 text-uppercase" *ngIf="notFound">Aucun élément a été trouvé</h1>
  <pagination-controls class="my-pagination float-right" id="actualiteP" (pageChange)="p = $event" maxSize="9" directionLinks="true"
    autoHide="true" previousLabel="Précédent" nextLabel="Suivant" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"></pagination-controls>